* {
  box-sizing: border-box;
}

body {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 50, 145);
  margin: 10px;
  border-radius: 15px;
}

.logo {
  color: white;
  padding: 20px;
}

.links {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.links a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

.links a:hover {
  color: yellow;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  background-color: #d3d3d3;
}

.hero p {
  max-width: 600px;
}

.hero_btn {
  display: flex;
  gap: 20px;
  padding: 30px;
}

.hero_btn a {
  text-decoration: none;
  background: #4caf50;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.hero_btn a:hover {
  background: #2563eb;
}

.features_grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.feature-card {
  text-align: center;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.testimonial-card {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px;
}

input,
textarea {
  width: 250px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

.btn {
  background-color: rgba(63, 196, 30, 0.781);
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  color: white;
  background-color: blueviolet;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 50, 145);
  margin: 10px 10px 20px;
  border-radius: 15px;
}

@media (max-width: 768px) {
  header {
    padding: 20px;
  }

  .logo {
    padding: 0 0 20px;
  }

  h1,
  p {
    text-align: center;
  }

  header {
    flex-direction: column;
  }

  .links {
    flex-direction: column;
    align-items: center;
  }

  .hero_btn {
    flex-direction: column;
  }

  .features_grid {
    flex-direction: column;
  }

  .reviews {
    flex-direction: column;
  }

  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }
}
